<h1>PetGatô</h1>
<p>Prezada (o) <%= @contact.name %>, obrigada pelo seu contato!</p>
<p>Recebemos sua mensagem: <br><%= @contact.description %>.<br></p>
<p>Em breve retornaremos seu contato!<br>Tenha um ótimo dia!</p>