# app/views/user_mailer/welcome_email.html.erb
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>~
<h1>Bem vindo a recuperação de senha</h1>
  <p>Esse é o seu codigo de recuperação de senha: <%= @user.reset_password_token %></p>
  <p>Obrigado por usar o petgato</p>
</body>
</html>